*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}
body {
    height : 100vh;
    width : 100vw;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1920' height='1080' preserveAspectRatio='none' viewBox='0 0 1920 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1053%26quot%3b)' fill='none'%3e%3crect width='1920' height='1080' x='0' y='0' fill='rgba(81%2c 46%2c 95%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c697.286C149.213%2c720.642%2c303.499%2c746.411%2c443.865%2c690.667C598.745%2c629.158%2c736.186%2c518.884%2c816.666%2c372.959C900.128%2c221.628%2c933.761%2c39.805%2c895.815%2c-128.799C859.074%2c-292.051%2c732.781%2c-414.295%2c613.154%2c-531.301C501.798%2c-640.218%2c375.103%2c-726.073%2c229.252%2c-780.759C74.374%2c-838.83%2c-99.68%2c-921.804%2c-251.16%2c-855.371C-402.503%2c-788.998%2c-410.278%2c-574.122%2c-521.215%2c-451.635C-635.975%2c-324.927%2c-859.304%2c-294.471%2c-907.675%2c-130.504C-955.75%2c32.46%2c-861.194%2c211.713%2c-756.348%2c345.413C-661.779%2c466.007%2c-501.679%2c499.771%2c-362.728%2c564.415C-243.565%2c619.853%2c-129.847%2c676.962%2c0%2c697.286' fill='%233e2348'%3e%3c/path%3e%3cpath d='M1920 1640.9389999999999C2022.562 1629.5639999999999 2085.495 1527.343 2177.651 1480.913 2284.867 1426.895 2431.204 1442.1689999999999 2504.005 1346.7060000000001 2578.482 1249.045 2569.593 1110.682 2552.77 989.021 2535.885 866.917 2500.242 739.06 2408.582 656.6410000000001 2320.158 577.1320000000001 2187.307 591.713 2073.304 557.893 1958.89 523.951 1853.156 429.206 1737.208 457.46900000000005 1620.783 485.84799999999996 1539.212 595.64 1483.399 701.683 1433.896 795.7370000000001 1470.504 908.4780000000001 1445.463 1011.772 1416.608 1130.795 1287.096 1235.154 1325.912 1351.311 1363.987 1465.25 1514.818 1489.807 1622.801 1542.451 1718.55 1589.13 1814.127 1652.681 1920 1640.9389999999999' fill='%23643976'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1053'%3e%3crect width='1920' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    overflow-x: hidden;
}

#progress_bar {
    position : absolute;
    top : 0;
    left : 0;
    height : 3.5px;
    width : 0px;
    background : #fec601;
}

@keyframes animate {
    from {
        width : 0px;
    }
    to {
        width : 100%;
    }
}


