*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}
body {
    height : 100vh;
    width : 100vw;
    background-color : #231942;
}

#progress_bar {
    position : absolute;
    top : 0;
    left : 0;
    height : 3.5px;
    width : 0px;
    background : #fec601;
}

@keyframes animate {
    from {
        width : 0px;
    }
    to {
        width : 100%;
    }
}


