#chat_main {
    display : flex;
    height : 100vh;
    width : 100vw;
    flex-direction: column;
}
#chat_header {
    display: flex;
    width : 100%;
    min-height : 100px;
    flex-direction: column;
}
#chat_header h1 {
    color : #fff;
    font-family : 'Work Sans',sans-serif;
    font-weight: 300;
    font-size : 17px;
    letter-spacing: -0.3px;
    margin-left: 30px;
    margin-top: 30px;
}
#leaveroom_btn {
    color : #fff;
    height : 50px;
    width : 120px;
    background-color: #c1121f;
    padding : 5px;
    font-family: 'Work Sans',sans-serif;
    cursor: pointer;
    font-size: 15px;
    margin-left: auto;
    margin-right: 50px;
    align-self: center;
    font-size: 12px;
    border : none;
    outline : none;
    border-radius: 3px;
    box-shadow : 0 3px 5px rgba(0,0,0,0.3);
    letter-spacing: -0.3px;
    transition : 0.3s ease-in-out;
}
#leaveroom_btn:hover {
    background-color: #ca101c;
}
#leaveroom_btn i {
    margin-left: 3px;
}
.leaveroom_link {
    text-decoration: none;
    color : #fff;
}

#chat_sub_main {
    display : flex;
    flex-direction: row;
    width : 90%;
    min-height: 200px;
    margin-top: 70px;
}


#room_users {
    display : flex;
    flex-direction: column;
    min-width : 350px;
    padding : 6px;
}
#room_users h1 {
    font-family : 'Work Sans',sans-serif;
    color : #fff;
    font-size : 17px;
    align-self: center;
    font-weight: 300;
    margin-top : 6px;
    text-transform: uppercase;
}

#chat_UI {
    display : flex;
    flex-direction : column;
    min-height : 50vh;
    width : 100vw;
    margin : auto;
}
#chat_container {
    display : flex;
    flex-direction: column;
    background-color: #edf2f4;
    height : 50vh;
    width : 50vw;
    border-radius: 3px;
    box-shadow : 0 3px 5px #3c096c;
    overflow-y : auto;
    padding : 5px;
    padding-bottom : 15px;
}
#chat_utils {
    display: flex;
    width : 50vw;
    height : 40px;
    flex-direction: row;
    margin-top: 15px;
}


.chat_message {
    flex : 0.96;
    height : 100%;
    background : #b9faf8;
    border : none;
    outline : none;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    text-indent: 5px;
    font-family: 'Work Sans',sans-serif;
    font-size: 15px;
    padding : 6px;
    font-weight: 400;
}
.send_message_btn {
    margin-left: auto;
    width : 120px;
    height : 100%;
    border : none;
    outline : none;
    border-radius: 3px;
    font-family: 'Work Sans',sans-serif;
    background-color: #fca311;
    font-weight: 400;
    text-transform: uppercase;
    padding : 7px;
    font-size: 12px;
    cursor: pointer;
    transition : 0.3s ease-in-out;
}
.send_message_btn:hover {
    background-color: #fdb33b
}
.send_message_btn:active {
    transform : scale(0.99,0.99);
}
.welcome_message {
    min-width : 230px;
    min-height : 40px;
    background : #38b000;
    display : flex;
    align-items: center;
    justify-content: center;
    font-family: 'Work Sans',sans-serif;
    border-radius: 12px;
    align-self: center;
    margin : 30px;
}
.welcome_message p {
    color : #fff;
    font-size: 13.2px;
}
.textMessage,.textMessageSelf {
    display : flex;
    flex-direction: column;
    min-height : 50px;
    min-width : 100;
    margin : 20px;
    animation-name : slideUp;
    animation-duration : 0.2s;
}
.textMessage {
    align-self: flex-start;
}
.img,.img_alt{
    height : 30px;
    width : 30px;
    border-radius: 50%;
    align-self: center;
}
.img {
    margin-left: 7px;
}
.img_alt {
    margin-right : 7px;
}
.textMessageSelf {
    align-self: flex-end;
}
@keyframes slideUp {
    from {
        transform : translateY(33%);
    }
    to {
        transform : translateY(0%);
    }
}
.message,.textMessageSelf p:nth-child(2) {
    background-color: #7b2cbf;
    font-family: 'Work Sans',sans-serif;
    color : #fff;
    padding : 10px;
    text-align: center;
    flex : 1;
    border-radius: 15px;
    font-size: 13.2px;
    box-shadow : 0 2px 3px rgba(0,0,0,0.3);
}

.disconnected_message {
    min-width : 200px;
    min-height : 40px;
    display : flex;
    align-items: center;
    justify-content: center;
    font-family: 'Work Sans',sans-serif;
    border-radius: 12px;
    align-self: center;
    margin-top : 20px;
    background-color: #fb5607;
}
.disconnected_message p {
    color : #fff;
    font-size: 13.2px;
}

.message_username_self,.message_username {
    color : #7f8691;
    font-family: 'Work Sans',sans-serif;
    font-size: 14.1px;
    margin-top : 3px;
    margin-left: 3px;
}
.message_username_self {
    align-self: flex-end;
}
.message_username {
    align-self: flex-start;
    font-size: 13px;
}

.time,.time_self {
    color : #7f8691;
    align-self: center;
    font-size: 12px;
}
.time {
    margin-left: 20px;
}
.time_self {
    margin-right: 20px;
}

.first_div_self{
    display : flex;
    flex-direction: row;
    width : 100%;
}
.second_div_self {
    display : flex;
    flex-direction: row;
    justify-content: flex-end;
    width : 100%;
}
.second_div {
    display : flex;
    flex-direction: row;
    width : 100%;
    justify-content: flex-start;
}

.welcome_message,.disconnected_message {
    animation-name : slideUp;
    animation-duration: 0.3s;
}
#users {
    display : flex;
    flex-direction: column;
    margin : 30px;
}
.user_name {
    color : #fff;
    font-family: 'Work Sans',sans-serif;
    font-size: 17px;
    font-weight: 300;
}

.users_img {
    height : 60px;
    width : 60px;
    border-radius: 50%;
    margin-left: 15px;
}

.room_users_childdiv {
    display : flex;
    flex-direction: row;
    align-items: center;
    margin-top : 7px;
    padding : 6px;
    background-color: #3c096c;
    padding-top : 15px;
    padding-bottom : 15px;
    animation-name : popIn;
    animation-duration: 0.3s;
}

@keyframes popIn {
    from {
        opacity : 0;
    }
    to {
        opacity : 1;
    }
}
.room_users_childdiv p {
    margin-left : 12px;
    font-size: 21px;
    align-self: flex-end;
    margin-bottom : 15px;
}
.chat_file {
    display : none;
}
.message_pic_label {
    background-color: #6930c3;
    width : 50px;
    cursor: pointer;
    text-align: center;
    position: relative;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.message_pic_label:hover {
    background-color: #5b1ebe;
}
.message_pic_label i {
    position : absolute;
    top : 50%;
    left : 50%;
    transform : translate(-50%,-50%);
    color : #fff;
}


.img_msg {
    width : 150px;
    height : 150px;
    border-radius: 3px;
    box-shadow : 0 3px 5px rgba(0,0,0,0.3);
}

.img_download_btn {
    width : 30px;
    height : 30px;
    background : #ffb703;
    border-radius: 50%;
    border : none;
    margin-left: 3px;
    cursor: pointer;
    transition : 0.3s ease-in-out;
}
.img_download_btn:hover {
    background : #e8a807;
}

/* Responsive Design */
@media screen and (max-width : 1128px){
    #room_users {
        width : 200px;
        min-height : 100px;
    }
    .users_img {
        height : 30px;
        width : 30px;
    }
    .user_name {
        font-size : 12px;
    }
}

@media screen and (max-width : 960px){
    #chat_sub_main {
        flex-direction: column;
        align-items : center;
        
    }
    #chat_UI {
        padding : 30px;
    }
    #chat_container {
        margin-top : 30px;
        width : 100%;
    }
    #chat_utils {
        width : 100%;
    }
    #chat_header {
        min-height: 120px;
        flex-direction: column-reverse;
        justify-content: space-around;
    }
    #chat_header h1 {
        font-size: 19px;
        align-self: center;
    }
    #room_users {
        width : 300px;
    }
    #leaveroom_btn {
        height : 40px;
        width : 120px;
        margin-top : 20px;
    }
}

@media screen and (max-width : 450px){
    #chat_header h1 {
        font-size : 15px;
    }
    .message_pic_label i {
        font-size: 12px;
    }
    #chat_UI {
        padding : 15px;
    }
}
@media screen and (max-width : 380px){
    #container {
        width : 50%;
    }
    #chat_sub_main {
        width : 100%;
        margin-top : 30px;
    }
    #chat_header h1 {
        font-size: 10px;
    }
    #room_users {
        width : 150px;
    }
    #users {
        width : 200px;
        align-self: center;
    }
    #chat_utils {
        height : 40px;
        flex-wrap : wrap;
    }
    .send_message_btn {
        margin : auto;
        margin-top : 15px;
    }
}