.header_div {
    display : flex;
    flex-direction: row;
    width : 100%;
    height : 26vh;
}
.header_profile {
    display : flex;
    flex-direction : row;
    width : 30vw;
    height : 20vh;
    margin-left : 70px;
    margin-top : 50px;
    position: relative;
}


#profile_pic {
    border-radius: 50%;
    height : 120px;
    width : 120px;
    box-shadow : 0 3px 5px rgba(0,0,0,0.5);
}

#name {
    color : #fff;
    font-family : 'Work Sans',sans-serif;
    margin-left : 20px;
    margin-top : 15px;
    font-size: 35px;
    letter-spacing: -0.3px;
}

#joined {
    color : #fff;
    font-family: 'Work Sans',sans-serif;
    margin-top : 60px;
    position : absolute;
    bottom : 70px;
    left : 140px;
    font-size: 12px;
}

#log_out_btn {
    border : none;
    outline : none;
    width : 100px;
    height : 40px;
    font-family: 'Work Sans',sans-serif;
    background : #ef233c;
    color : #fff;
    font-weight: 600;
    border-radius: 3px;
    font-size: 12px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    box-shadow: 0 3px 5px rgba(0,0,0,0.5);
}
#log_out_btn:hover {
    background : #e21f36;
}
#log_out_btn i {
    margin-left: 5px;
}
#nav_link {
    height: 3px;
    margin-left: auto;
    margin-right: 30px;
    margin-top : 30px;
}


#main {
    display : flex;
    flex-direction: row;
    height : 60vh;
}

#status {
    color : #fff;
    font-family: 'Work Sans',sans-serif;
    position : absolute;
    bottom : 50px;
    left : 140px;
    font-size: 12px;
}

@media screen and (max-width : 1024px){
    .header_profile {
        margin-top : 20px;
    }
    #joined {
        bottom : 45px;
    }
    #status {
        bottom : 30px;
    }

}

@media screen and (max-width : 850px){
    #joined {
        font-size : 10px;
        left : 100px;   
    }
    #name {
        font-size: 32px;
    }
    #profile_pic {
        height : 80px;
        width : 80px;
    }
    #status {
        left : 100px;
    }
    .header_profile{
        width : 40vw;
    }
    #main {
        flex-direction: column;
    }
}


@media screen and (max-width : 400px){  
    #log_out_btn {
        width : 80px;
        height: 30px;
        font-size: 8px;
    }
    .header_profile {
        width : 60vw;
        margin : auto;
        margin-left: 50px;
    }
}
@media screen and (max-width : 300px) {
    .header_div {
        width : 400px;
    }
    .header_profile{
        width : 70vw;
    }
}