.login_form,.registration_form,.password_reset_form {
    display : flex;
    flex-direction: column;
    width : 30vw;
    min-height : 60vh;
    background-color : #ffffff;
    margin-left : 100px;
    align-self: center;
    padding : 20px;
    box-shadow : 0 3px 7px rgba(0,0,0,0.6);
}
.form_heading {
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    font-size : 25px;
    letter-spacing: -0.3px;
    margin-left: 10px;
    margin-bottom : 20px;
}

.form_group {
    padding : 10px;
    margin-top : 5px;
}

.form_label {
    font-family: 'Work Sans', sans-serif;
    font-size : 17px;
}
.form_input {
    width : 80%;
    height : 35px;
    margin-top : 12px;
    border : none;
    outline : none;
    background : #e2ece9;
    text-indent : 5px;
    padding : 5px;
    font-size : 15px;
    font-family : 'Work Sans',sans-serif;
    box-shadow : 0 3px 3px rgba(0,0,0,0.3);
    transition : 0.3s ease-in-out;
}

#login_error_msg {
    display : inline;
    color : #ef233c;
    margin-left : 20px;
    font-family : 'Work Sans',sans-serif;
    font-size : 13px;
}

.form_submit_btn {
    width : 120px;
    height : 43px;
    outline : none;
    border : none;
    background : #6a4c93;
    color : #ffffff;
    border-radius: 3px;
    font-family : 'Work Sans',sans-serif;
    font-size: 17px;
    cursor: pointer;
    transition : 0.3s ease-in-out;
    box-shadow : 0 2px 2px rgba(0,0,0,0.8);
}

.form_submit_btn:hover {
    background : #7754a7;
}

.password_reset {
    display : flex;
    flex-direction: row;
    justify-content: space-around;
    font-family : 'Work Sans',sans-serif;
    font-size: 15px; 
}
.password_reset a {
    color : #7754a7;
}
.create_account {
    color : #000000 !important;
}


/* MEDIA QUERIES */

@media screen and (max-width : 1100px) {
    .login_form {
        margin-top : 50px;
        margin-left : 0px;
        width : 45vw;
    }
    
    .form_heading {
        font-size: 20px;
    }
    .form_submit_btn {
        width : 80px;
        height : 35px;
    }
    
    .password_reset {
        font-size: 12px;
    }
}
@media screen and (max-width : 660px) {
    .login_form {
        width: 60vw;
    }
    .password_reset {
        height : 12vh;  
        flex-direction: column;
    }
    .create_account {
        align-self: center;
    }
}