.password_reset_form {
    min-height : 40vh;
}
.heading {
    font-family : 'Work Sans',sans-serif;
    font-size : 23px;
    align-self: center;
    font-weight: 500;
    margin-top : 20px;
}
label {
    font-family : 'Work Sans',sans-serif;
}

.form_group_password {
    margin-top : 30px;
}

.otp_btn {
    width : 120px;
    height : 40px;
    outline : none;
    border : none;
    background : #fcbf49;
    font-family : 'Work Sans',sans-serif;
    font-weight: 500;
    align-self: center;
    margin-top : 30px;
    cursor : pointer;
    border-radius: 3px;
    font-size : 17px;
    box-shadow : 0 3px 5px rgba(0,0,0,0.3);
}
.otp_btn:hover {
    background : #f9bc41;
}

#email_err{
    color : #ef233c;
    font-family : 'Work Sans',sans-serif;
    font-size : 15px;
    margin-top : 15px;
}

.inputtext {
    display : none;
}

.validate_otp_div {
    display : flex;
    flex-direction: column;
    min-height : 20vh;
}
.validate_otp_label {
    margin-top : 30px;
    font-size: 17px;
}
.otp_input {
    height : 43px;
    width : 150px;
    outline : none;
    border : none;
    background : #cbf3f0;
    border-radius: 3px;
    font-family : 'Work Sans',sans-serif;
    font-size : 17px;
    font-weight: 600;
    text-indent: 30px;
    box-shadow : 0 3px 3px rgba(0,0,0,0.5);
    letter-spacing : 3px;
}
.validate_btn,.change_pw_btn{
    height : 43px;
    width : 120px;
    background : #ffbe0b;
    outline : none;
    border : none;
    font-family: 'Work Sans',sans-serif;
    font-weight: 500;
    border-radius: 3px;
    align-self: center;
    box-shadow : 0 3px 3px rgba(0,0,0,0.5);
    margin-top: 30px;
    font-size: 15px;
    cursor: pointer;
}
#validate_otp_msg,#change_password_msg,#password_change_success{
    color : #ef233c;
    font-family : 'Work Sans',sans-serif;
    margin-top : 15px;
}


.change_password_form {
    display : flex;
    flex-direction: column;
    height : 43vh;
    padding : 15px;
    justify-content: space-around;
}

.change_pw_btn {
    width : 150px;
}

#password_change_success {
    color : #70e000;
}