#rooms {
    display : flex;
    flex-direction : row;
    width : 50vw;
    height : 50vh;
    align-self: center;
    margin-left : 100px;
    justify-content: space-around;
    flex-wrap: wrap;
}
.room {
    width : 260px;
    height : 120px;
    background-color: #7209b7;
    display : flex;
    flex-direction: column;
    align-items: center;
    font-family : 'Work Sans',sans-serif;
    cursor: pointer;
    border-radius: 7px;
    box-shadow : 0 6px 6px #001427;
    transition : 0.3s ease-in-out;
}
.room:hover {
    background-color: #7c0bc8;
    transform : translateY(-3%);
}
.room h1 {
    color : #fff;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: -0.6px;
}

.room_navlink {
    text-decoration: none; 
    margin-top: 50px;
}

.user_count_div {
    display : flex;
    flex-direction: row;
    margin-top: 10px;
    width : 100%;
    align-items: center;
    justify-content: center;
}
.user_count {
    color : #fff;
    font-size : 12px;
    font-weight: 300;
}
.indicator {
    color : #8ac926;
    margin-right: 7px;
    font-size: 10px;
}

@media screen and (max-width : 1060px){
    #rooms {
        height : 60vh;
    }
}
@media screen and (max-width : 850px){
    #rooms {
        width : 100%;
        margin-left: 0px;
    }
    .room {
        margin : 20px;
    }
}
@media screen and (max-width : 400px) {
    #rooms{
        margin-left : 50px;
    }
}
@media screen and (max-width : 300px) {
    #rooms {
        margin-left: 150px;
    }
}